<a href="https://colab.research.google.com/github/Senamile1/Senamile1/blob/main/Bash%7Cpython%7Cgit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Question 1.1:

In [ ]:
! wget https://storage.googleapis.com/bdt-beam/users_v.csv

--2022-08-10 17:28:29--  https://storage.googleapis.com/bdt-beam/users_v.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.251.2.128, 2607:f8b0:4023:c0d::80
Connecting to storage.googleapis.com (storage.googleapis.com)|142.251.2.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 143675 (140K) [text/csv]
Saving to: ‘users_v.csv.1’

users_v.csv.1       100%[===================>] 140.31K  --.-KB/s    in 0.001s

2022-08-10 17:28:29 (110 MB/s) - ‘users_v.csv.1’ saved [143675/143675]

Question 1.2:

In [ ]:
! cat users_v.csv | head -10

user_id,name,gender,age,address,date_joined
1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30
6,Sierra Andrews,female,21,Ryanville-MI-69690,2007/05/25
7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
8,Karen Santos,female,34,Mariaville-AK-29888,2003/12/12
9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14

Question 1.3

In [ ]:
! cat users_v.csv | wc -l

2358

Question 1.4

In [ ]:
!shuf -n 1000 users_v.csv > users_sample.csv
! cat users_sample.csv | wc -l

1000

Question 1.5.1

In [ ]:
! sort -n users_sample.csv

user_id,name,gender,age,address,date_joined
3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
12,Anna Glenn,female,73,Lake Pamela-NY-61706,2013/09/27
13,Kenneth Martinez,male,21,West Kimberly-AZ-87210,2002/03/13
15,Timothy Jones,male,68,Wilsonport-MT-95064,2015/11/13
18,Steven Myers,male,72,North Christinaside-ME-79432,2008/08/09
19,Justin Beasley,male,50,Whiteport-GA-29233,2000/08/09
23,Stephanie Williamson,female,22,Brittanyton-DC-24346,2003/03/09
25,Mrs. Michele Fuller,female,29,Taylorhaven-CT-97167,2010/11/14
27,Kenneth Montgomery,male,55,South Christinemouth-SC-54543,2000/06/20
29,Joseph Nelson,male,24,Phamside-OR-38312,2004/07/30
33,Andrew Watkins,male,45,Terrellchester-NM-38781,2007/10/10
36,Brandon White,male,42,Jennifershire-CA-09827,2004/06/21
39,Kevin Rose,male,30,East Josephport-DE-13217,2007/06/07
42,Alexandria Taylor,female,48,Brewerhaven-MT-66936,2014/11/15
46,Stephanie Wallace,female,58,South Bradley-NC-09847,2012/03/22
48,Samuel Reeves,male,74,North Kimberly-WI-68170,2009/08/31
56,Phillip Andrade,male,34,Stevenhaven-OR-75070,2007/07/27
58,Jerry Jones,male,61,Sarahborough-VA-16710,2001/07/24
59,Denise Wade,female,24,Aliceville-AL-17290,2021/01/05
60,Elizabeth Williams,female,63,West Tyler-WI-04103,2013/04/29
62,James Ward,male,75,East Brandonside-UT-50896,2009/11/28
67,Michael Martinez,male,52,Johnsontown-WV-62216,2001/07/17
70,Steven Taylor,male,43,Michaelchester-ND-78635,2012/07/18
71,Rebecca Novak,female,22,West Kent-UT-78036,2019/08/29
74,Benjamin Casey,male,33,Ryanton-VT-38138,2018/09/23
79,Patricia Miller,female,50,West Kyleside-IL-28220,2003/05/27
80,Crystal Schroeder,female,78,West Jakeborough-IL-38829,2014/10/28
81,Tonya English,female,61,Julianhaven-MO-71886,2017/04/07
84,Amber Jackson,female,80,Lake Joseph-KS-67884,2009/02/04
86,Michael Dillon,male,59,Lake Karen-FL-33551,2020/10/13
87,Richard Johnson,male,65,Samuelhaven-CT-85419,2009/04/03
88,Adam Alvarado,male,20,East Jessicaside-AR-97225,2019/04/15
95,Casey Lawson,male,37,Bankstown-VT-74246,2011/11/12
97,Robert Williams,male,26,Rachelmouth-SD-10847,2021/08/08
102,Tiffany Scott,female,55,Port Laurenfort-AR-39458,2004/08/03
103,Robert Moss,male,61,Lake Carolynhaven-GA-90471,2018/07/07
105,Mary Lewis,female,38,Bakerside-VT-09314,2000/03/14
108,Jeffrey Douglas,male,58,New Roger-MN-03077,2008/06/13
109,Elizabeth Bryant,female,24,West Eddieville-MO-92226,2004/08/14
110,James Taylor,male,67,Watkinsmouth-GA-62362,2012/01/15
120,Tyler Morgan,male,71,Seanside-HI-54170,2010/06/23
125,Mrs. Holly Wall,female,75,East Geraldmouth-VT-83488,2007/07/24
131,Kelly Owen,female,79,West Samantha-AK-72395,2017/07/14
143,Ryan Holland,male,31,Josephside-NC-81119,2013/11/20
144,Annette Lee,female,31,East Lisaport-MN-14318,2005/11/03
146,James Ryan,male,38,Hodgesmouth-WV-41537,2016/06/18
147,Brandon Gonzalez III,male,68,Lindaburgh-KY-76602,2019/12/14
152,Samuel Cruz,male,49,Jacquelineton-AZ-15554,2009/12/05
153,Matthew Hoffman,male,62,West Dustin-DC-14108,2010/01/16
155,Lauren Forbes,female,44,South Juan-VT-27018,2001/02/21
158,Karen Randall,female,46,Shannonburgh-AZ-41276,2012/09/20
161,Jacob Gilmore,male,53,New Cassandra-AL-01391,2003/06/10
164,Kathryn Alvarado,female,80,North Elizabeth-ME-38081,2011/10/25
166,Richard Chen,male,48,Lawsonhaven-SD-50436,2015/09/11
167,Robert Williams,male,72,New Elizabethbury-FL-60548,2013/08/22
169,Matthew Cook,male,57,South Whitney-VA-96097,2009/07/05
172,Nancy Medina,female,37,Port Donald-ME-67294,2017/11/26
173,Lisa Neal,female,41,Mayside-WY-54084,2001/01/31
174,Brandon Davis,male,22,Smithborough-SD-24502,2013/04/21
177,Patricia Johnson,female,70,East Caleb-ND-38308,2002/12/31
180,Kimberly Mason,female,26,Reedside-MN-89553,2021/05/08
182,Kimberly Bowen,female,35,Rushbury-NY-23974,2011/01/15
183,James Evans,male,23,Gambleville-ID-78725,2012/01/07
184,Shane Davis,male,79,East Devin-MO-24015,2002/12/02
186,Grant Soto,male,58,Port Patriciaside-MT-22954,2008/02/04
187,Teresa Grimes,female,57,Gregoryview-AZ-22111,2014/01/06
193,Nicole Kelly,female,32,East Travisfurt-IA-32556,2018/11/26
194,Michael Marshall,male,20,Kellyhaven-OH-36909,2013/11/12
196,Travis Mcconnell,male,73,Taylorborough-ND-34512,2005/11/03
199,Denise Davila DVM,female,41,North Francesview-OR-52784,2019/01/10
200,Monica Burnett,female,18,Lake Kathytown-MD-65833,2009/11/15
201,Derek Paul,male,22,Elizabethland-UT-52035,2017/10/29
202,Amber Whitaker,female,38,Port Taylor-MT-09794,2018/07/04
206,Lisa Davis,female,61,Castroport-NV-50660,2003/02/26
208,Denise Hurley,female,51,Lake Dawnstad-DC-70492,2013/09/29
209,Shannon Lee,female,30,Lindatown-IL-90511,2016/06/18
210,Richard Adams,male,23,Cortezview-PA-83400,2017/09/16
212,Eric Chang,male,70,Valenciaport-WY-83759,2021/06/04
214,Edwin Berger,male,23,East Kathleen-WI-76657,2006/09/05
215,Jimmy Cooper,male,20,Zacharychester-OR-76998,2001/10/29
217,Karen Burke,female,50,Micheleville-MA-69176,2007/10/28
221,Javier Simmons,male,41,Lake Kristen-SC-27109,2003/02/08
225,Kevin Morris,male,43,South Ashley-RI-91111,2011/08/30
226,Andrea Chapman,female,53,Lake Margaretview-AR-88494,2000/05/31
227,Christopher Young,male,40,North Dylanland-NM-28501,2003/02/24
228,Ana Ashley,female,64,Jamesstad-WA-38437,2010/04/04
229,Rachel Russell,female,54,Susanport-MN-64169,2018/03/28
230,Sara Zavala,female,35,Grayfort-AK-01339,2020/04/23
232,Jerry Martinez,male,24,Christopherton-PA-60818,2011/05/18
235,Janet Villarreal,female,75,New Xavierland-CO-75772,2009/06/21
238,Deborah Morton,female,71,Payneview-GA-22165,2013/05/30
240,Rebecca Scott,female,54,Deleonhaven-NE-33105,2008/10/13
241,Trevor Adams,male,27,New Jaredton-WI-42230,2014/12/02
242,Cameron Esparza,male,43,Anthonybury-MN-50386,2008/12/21
244,Julie Roberts,female,67,West Markport-MO-32971,2004/10/23
248,Kimberly Fowler,female,71,South Elizabeth-VT-19411,2010/05/23
249,William Scott,male,69,Robertchester-PA-18083,2000/07/11
250,Brian Roach,male,63,South Nicole-MN-92366,2017/10/27
251,Jacqueline Bailey,female,78,New Shelley-MI-21255,2002/05/22
255,April Graham,female,78,Michaelborough-LA-77854,2004/01/11
256,Cameron Lowe,male,74,Longside-MN-30881,2006/07/12
257,Daniel Chambers,male,50,West Megan-NM-45647,2018/03/12
258,Kristin Vargas,female,27,Jesseport-AR-85327,2017/09/07
259,Brooke Miller,female,35,Tonibury-MA-40843,2015/04/23
260,Frank Contreras,male,18,Hubbardtown-OK-01258,2013/09/16
264,Kimberly Sims,female,26,South Zacharystad-OH-53169,2005/08/23
265,Michelle Yu,female,65,West Hannahmouth-AL-20283,2020/11/30
266,Victoria Schmidt,female,53,Pattersonfort-VT-75539,2007/07/25
270,Anthony Rogers,male,39,Maryberg-UT-33645,2000/05/29
272,Dawn Walker,female,79,Ianchester-WI-07216,2000/11/30
273,Teresa Terry,female,40,Webbfurt-NM-31603,2000/04/12
276,Alexandria Johnson,female,50,Monroehaven-OR-47139,2021/09/30
278,Amy Crawford,female,60,Port James-AZ-94727,2001/09/24
280,Emily Harper,female,26,North Arthurbury-HI-22447,2014/02/03
281,Cindy Alvarado,female,44,South Cassandra-NE-94926,2000/08/28
282,Debbie White,female,62,Melissaport-CT-66021,2021/09/23
284,Benjamin Harrington,male,55,New Kimberlyfort-TN-68942,2004/11/17
285,Jordan Kirk,male,53,Wallaceton-MA-28643,2000/05/11
289,Robert White,male,47,Aimeetown-ME-59381,2001/02/04
290,Teresa Pierce,female,31,Bullockfort-MD-79239,2000/04/08
295,April Perez,female,68,Christopherfort-ME-18381,2014/09/12
297,William Hurley,male,80,Cummingston-DC-76262,2011/01/20
299,Tiffany Richard,female,29,Lake Sarahhaven-DE-43443,2002/05/13
301,Mr. Jerry Mcintosh,male,18,New Amanda-MI-44982,2001/10/02
302,Michael Andrews,male,40,North Brookeview-AL-34621,2010/12/09
304,Kenneth Golden,male,79,Tylershire-GA-05137,2012/11/22
305,Rebecca Hernandez,female,57,Port Jessicaland-DE-38511,2018/08/20
306,Thomas Hammond,male,39,New Joseph-VA-22160,2002/09/09
309,Jade Baxter,female,22,Lake Ryan-CO-95720,2007/02/25
311,Stephanie Richardson,female,36,Lake Pamelaland-GA-14141,2012/03/21
313,Joseph Harris,male,55,Juliaborough-FL-81099,2001/05/17
314,Cheryl Pacheco,female,57,East Johnville-IN-64141,2000/10/29
316,Joshua Fischer,male,30,Stephanieport-ME-65409,2015/04/11
317,Tamara Cowan,female,70,Thompsonmouth-UT-66652,2020/05/18
319,Roger Smith,male,45,Nathanton-WY-18072,2004/11/01
320,Tina Knight,female,75,Jessicamouth-GA-95857,2016/03/14
321,Brooke Foster,female,79,West Raymond-GA-66870,2006/08/08
326,Dustin Thompson,male,69,South Leroy-AK-16437,2007/05/20
329,William Gonzalez,male,51,Brianfort-MI-28934,2016/12/27
330,Danielle Sanchez,female,42,Quinnstad-NY-83642,2019/01/12
336,Kyle Harrison,male,39,North Michelle-OK-19743,2019/02/06
341,Alexander Ryan,male,33,South Emily-PA-63078,2001/02/15
343,Erica Hughes,female,18,Meganstad-MI-41350,2014/04/26
345,Jason Martin,male,44,North Sonya-WI-03721,2006/03/28
346,Andrea Parker DVM,female,42,East Matthewmouth-WI-07114,2001/09/15
348,Nathan Smith,male,60,East Dianeside-AR-09432,2000/10/26
350,Lance Hickman,male,29,Crawfordfurt-AZ-03163,2017/07/22
352,Austin Mitchell,male,33,Codymouth-TN-71040,2014/09/10
356,Christina Powell,female,58,South Dawn-FL-35510,2013/03/02
359,Cory Garcia,male,42,East Curtisfurt-ME-42354,2008/04/29
360,Jimmy Fox,male,37,South Garrett-NE-47280,2000/10/12
362,Brianna Thompson,female,53,East Ryan-SC-01180,2004/04/25
363,Danielle Davis,female,42,New Erikmouth-AZ-00601,2005/12/05
367,Justin Scott,male,57,Port Jacobfort-CT-36999,2009/07/02
369,Nicole Rogers,female,61,New Angela-WV-19783,2007/06/08
374,James Lee,male,68,Ginaland-AR-69827,2008/06/23
375,Edward Solis,male,70,Dillonville-IA-54265,2001/01/05
378,Samuel Morrison,male,57,Marcusborough-WY-65968,2005/03/11
382,James Murphy,male,79,Sanchezfurt-UT-84922,2009/02/22
383,Juan Smith,male,46,South Ericaborough-NM-71870,2006/06/27
384,Michael Sanders,male,58,Daltonburgh-PA-87250,2018/05/06
385,James Wright Jr.,male,47,Mullinsfurt-WY-34837,2001/08/22
386,Shane Smith,male,30,Lake Timothy-WA-59712,2003/11/16
388,Nichole Rollins,female,19,West Rose-LA-50947,2017/07/19
389,Elizabeth Willis,female,72,Carolborough-AZ-29544,2017/04/18
393,Christopher Lopez,male,30,Meyersfurt-IA-44118,2004/07/27
394,Ashley Baker,female,60,Paulville-AR-11985,2014/03/17
395,Kenneth Williams,male,62,Port Bradleyfort-ME-92335,2010/02/05
396,Sean Brown,male,44,Johnsonmouth-TN-68538,2009/08/12
398,Timothy Freeman,male,25,Lisamouth-HI-07996,2020/10/12
401,Shelby Burns,female,59,Edwardsborough-AR-05236,2003/06/14
402,Kyle Freeman,male,48,East Ericaburgh-WY-81857,2008/10/12
404,Patricia Jimenez,female,63,North Deanna-ID-31825,2003/09/03
405,James Garrett,male,67,Juanhaven-CT-44837,2019/11/18
408,Crystal Pacheco,female,50,New Debra-CO-09164,2003/12/23
410,Adam Mclean,male,33,East Amyland-WI-48745,2019/06/02
419,Phyllis Wilson,female,42,Port Samanthaside-SD-93414,2011/11/11
421,Jennifer Hughes,female,41,Port Christopherview-CO-72965,2015/07/27
422,Marcus Alvarado,male,47,North Devin-WI-74343,2011/05/24
424,Michael Coleman,male,53,Bradleyview-AL-95792,2016/12/20
429,Alexander Keller,male,60,Danafurt-RI-95160,2009/01/16
435,Shaun Ewing,male,48,Floresfurt-GA-96692,2021/05/19
437,Drew West,male,26,West Priscilla-KS-33736,2018/05/08
438,Carrie Williams,female,45,Ricebury-OH-00809,2018/09/21
439,Brittany Boyer,female,28,Jessestad-IA-82594,2012/04/27
441,Amy Webster,female,71,West Tina-SC-18163,2007/10/26
443,Andrea Stone,female,63,South Natalieshire-MA-22858,2016/11/18
446,Holly Moore,female,36,South Anitamouth-AR-83419,2017/03/14
448,Vernon Anderson,male,68,Jessicaport-VA-97018,2010/04/11
451,Jennifer Johnson,female,42,South Randy-KY-89058,2001/06/27
452,Timothy Taylor,male,24,Duffyport-IL-34924,2021/09/19
455,Christina Hernandez,female,79,Rogersville-VT-51224,2000/06/01
456,Ryan Parsons,male,44,New Jerryborough-AR-39006,2017/11/09
457,Michelle Duncan,female,19,Andrewland-MT-92737,2008/03/02
458,Kelsey Thompson,female,49,Dianechester-ND-31671,2011/03/21
460,Patrick Clark,male,41,East Annettetown-IN-02455,2000/01/21
461,Andrew Hardin,male,47,East Andrew-NH-85639,2019/01/14
463,Richard Dean,male,65,East Donnafurt-MS-92166,2000/08/18
469,Michael Wright,male,52,West Brandiville-NM-34624,2003/08/12
471,Kim Johnson,female,32,Larryton-WY-90377,2007/07/06
474,Brandi Jenkins,female,69,Brendaport-MI-55110,2018/08/07
476,Tanya Maxwell,female,68,Jeremyville-IA-28726,2002/12/23
477,Cindy Richard,female,60,New Marisatown-VA-36357,2016/03/21
478,Charles Robinson,male,65,Sarahtown-OK-60766,2003/04/08
480,Christopher Howard,male,55,South Nancy-MO-46636,2020/07/08
484,Thomas Scott,male,37,South Paulfurt-IA-10961,2001/10/11
486,Michael Osborn,male,62,Port Nathan-DC-21983,2019/11/24
493,Amy Reed,female,44,Maytown-UT-19740,2016/10/30
495,Clinton Johnson,male,26,Port Brianport-MS-15490,2002/05/07
496,Jodi Davis,female,43,Johnton-NH-52679,2003/12/16
501,Steven Walker,male,46,Jennifermouth-OH-93782,2012/09/14
506,Philip Simmons,male,23,Livingstonstad-NJ-31358,2007/04/10
507,Joseph Alvarez,male,65,Port Jamesview-WY-90988,2012/08/06
508,Brianna Martin,female,71,Port Jessicafort-WV-71452,2016/03/11
510,Ryan Arellano,male,80,West Alicetown-LA-93609,2015/04/30
512,John Flores,male,57,Port Edward-TN-52030,2016/04/24
513,Christina Sullivan,female,42,South Victoria-FL-85838,2017/12/22
514,Ashley Foster,female,52,Christinehaven-CO-15950,2000/06/12
518,Maria Jacobs,female,38,Burgessfort-NH-44649,2015/02/15
522,Cody Mccarthy,male,51,North Williamtown-WV-08358,2004/07/01
525,Elizabeth Knight,female,53,West Paulport-SC-55403,2008/09/29
526,Victoria Allen,female,55,East Amandaport-OR-35155,2002/10/29
529,Russell Montoya,male,47,South Lisashire-MA-77212,2002/02/01
531,Jason Knight,male,73,New Kathrynburgh-AR-59404,2000/08/03
538,David Marsh,male,20,New Michelleside-SC-16251,2018/03/03
539,Suzanne Baker,female,41,Kellibury-MN-16772,2015/01/26
542,James Weber,male,80,Port Jeffreyborough-AR-09176,2010/06/24
543,Timothy Craig,male,25,Justinberg-IL-65553,2003/10/03
548,Robert Torres,male,72,Juarezside-FL-16386,2012/12/27
549,Kathleen Warren,female,59,New David-OH-21069,2001/10/10
554,Matthew Ball,male,73,West Blakefurt-VA-57299,2006/05/03
556,Charles Munoz,male,29,East Javier-WY-91640,2003/03/16
557,Lori Ortiz,female,58,Montgomeryport-ME-24707,2020/10/30
559,Dr. Michele Coleman PhD,female,44,Thomasside-MN-87753,2012/07/28
563,Julia Randall,female,40,New Devinside-AL-08278,2017/03/16
564,Amanda Ramirez,female,76,South Richardbury-NY-45897,2003/02/24
565,Tiffany Barnett,female,57,Lake Cole-NJ-72222,2018/01/13
568,Mr. Parker Perez PhD,male,78,Port Carla-AR-80749,2011/01/20
569,Jessica Lawson,female,60,Mirandaville-PA-24896,2016/08/06
571,Jesse Gomez,male,25,Lake Trevorberg-TN-12051,2016/02/04
573,Christina Anderson,female,60,East Sarah-NM-59404,2021/02/16
576,Gary Gonzalez,male,73,East Amy-NC-91402,2011/02/11
578,Christina Daniel,female,24,Port Louis-NH-36812,2014/02/28
579,Raymond Hicks,male,54,Deleonmouth-WV-72960,2006/06/23
580,Christopher Mullen,male,50,East James-NC-85510,2012/03/02
581,Brianna Walker,female,71,Port Gabriel-MA-90575,2007/04/24
582,Mike Valentine,male,74,Joshuamouth-NM-14749,2013/10/15
583,Brian Beck,male,31,South Nathan-AR-57670,2012/01/02
584,Troy Jackson,male,43,Port Garrett-FL-12790,2002/05/09
585,Lauren Knight,female,23,North Krista-WY-06035,2012/01/11
586,Joshua Johnson,male,20,Lake Matthewport-VT-13487,2005/06/06
587,Lauren Ball,female,59,Richardstad-CA-92997,2005/03/04
590,Gabriella Jackson,female,76,New Samantha-NH-62074,2003/12/19
594,Amber Santana,female,78,Bowmanville-KY-51759,2010/12/10
597,Robert Herring,male,46,Andrademouth-NC-35948,2016/11/28
599,Patricia Anderson,female,69,West Jasonmouth-PA-25153,2002/04/09
603,Melinda Pena,female,59,Garnermouth-LA-38976,2015/02/11
607,Jennifer Pearson,female,35,West Kelseyfurt-FL-25527,2009/12/09
608,Kristen Johnson,female,69,Cynthiamouth-CO-04325,2019/07/17
610,Michael Barton,male,63,Rodriguezchester-MT-68365,2012/11/03
612,Penny Kirby,female,25,Lake Russell-AZ-36704,2017/06/14
613,Maria Patterson,female,40,Lake Jasonville-SD-99735,2005/01/04
621,Tonya Mann,female,29,Phillipsstad-DC-52077,2000/05/08
622,Allison Johnston,female,40,Cooperhaven-KY-70514,2008/10/03
625,Emily Baker,female,35,Port Francisco-CO-33433,2001/03/10
631,Stephanie Avila,female,76,Jonathanville-AK-11397,2006/03/24
632,Richard Martin,male,38,North Brittanyshire-WI-26748,2005/02/28
634,Megan Cooper,female,27,Lake Joeburgh-WI-62960,2001/07/30
640,Jennifer Holmes,female,18,Sanchezview-AR-76500,2015/11/30
642,Joel Hess,male,66,New Steventon-VT-73525,2000/11/26
643,Madeline Jones,female,22,Colemanburgh-OH-74797,2001/02/15
644,Matthew Santana,male,22,South Russell-FL-01422,2000/12/03
645,Molly York,female,79,New David-MS-67710,2017/11/18
646,Jeremiah Rogers,male,76,South Rebecca-WV-47566,2002/04/27
649,Keith Strickland,male,27,Kimberlyton-IL-46346,2011/09/14
650,Gabriel Bowers,male,55,Port Brian-CO-73725,2018/06/08
652,Charles Garcia,male,20,Williamland-CO-87333,2000/08/21
654,Brenda Buchanan,female,48,Leeport-IL-72809,2010/07/12
656,Justin Gonzalez,male,24,West Lonnie-FL-49049,2017/03/06
658,David Thornton,male,80,Brendaport-TN-15823,2003/05/04
662,Ethan Wallace,male,58,Brandonhaven-NC-54191,2015/05/26
666,Rodney Cohen,male,55,Aliciafort-ID-92992,2015/04/15
667,Michael Davis,male,22,Billyshire-UT-11961,2012/02/05
668,Stephanie Hawkins,female,40,Smithchester-NH-75984,2009/08/07
671,John Sellers,male,79,North Catherine-RI-15319,2009/08/28
675,Jennifer Mora,female,79,Shelbyside-ID-39782,2017/08/09
676,Mrs. Kathleen Berry,female,42,Williamsonborough-VT-15843,2019/02/17
678,Thomas Villarreal,male,30,New Madelineport-DC-33677,2015/08/30
680,Eddie Martinez,male,57,North Cassie-MS-80724,2013/05/08
681,Alicia Gamble,female,63,East Brittney-SC-38861,2008/10/01
684,Scott Sutton,male,59,East Tina-DC-31513,2011/02/25
694,Emily Turner,female,75,Mcintyremouth-WA-54947,2001/08/16
696,George Perez,male,57,Tracytown-NJ-60221,2000/11/30
700,Scott Cain,male,66,East Jaredborough-FL-22960,2015/04/01
701,Martha Moore,female,36,Sanchezberg-OK-90861,2003/04/22
703,Caleb Gibson MD,male,38,Andersenton-NY-15099,2007/07/25
707,Billy Mathis,male,74,East Michaelborough-AR-40009,2021/09/07
713,Sara Sanders,female,69,North Michael-GA-91827,2011/05/13
714,Cathy Russell,female,60,Austinstad-VT-23273,2020/12/11
715,Larry Harper,male,32,Josephton-CT-67472,2018/04/14
716,Glenn Gutierrez,male,46,South Tracyton-NH-90762,2010/01/23
718,Ronald Whitney,male,69,Burkeside-KS-55803,2020/09/25
721,Amber Williams,female,33,Tateburgh-NY-14886,2003/03/24
724,Manuel Mckinney,male,78,Kimberlyburgh-ND-49366,2008/09/15
728,Andrew Bowman,male,41,West Alexis-VT-76486,2015/07/03
729,Nancy Hunter,female,77,South Joseland-AZ-31525,2013/06/18
730,Joseph Petersen,male,70,Lake Michael-OR-93496,2013/07/29
734,Thomas May,male,65,Port Christianchester-IA-73846,2006/10/20
735,Shawn Rhodes,male,29,South Hannah-RI-24323,2011/08/25
737,Jeffrey Stewart,male,64,New Destiny-NE-12282,2001/05/15
738,Allison Gilmore,female,35,Edwardsburgh-ID-82577,2009/06/01
741,Rachel Gibbs,female,48,North Laurenhaven-IN-37765,2010/12/28
743,Jeffrey Nelson,male,78,East Suzanne-AK-71163,2012/06/12
744,Brian Pierce,male,35,North Larry-NC-86281,2018/04/02
750,Phillip Mueller,male,72,Santiagofort-NC-25123,2012/07/27
752,Anna Davis,female,35,Judithburgh-MT-07260,2017/02/10
753,Vickie Hernandez,female,64,East Hollyburgh-TN-84450,2017/01/13
754,Thomas Robinson,male,46,North Anna-CA-62333,2002/03/05
755,Kevin Mason,male,76,Juliaport-AK-14234,2003/03/14
756,Pamela Fitzgerald,female,35,Grahamberg-NC-36142,2001/04/30
757,Maria Wright,female,35,Cookmouth-DC-63490,2007/03/14
758,Danielle Brown,female,29,East Timothy-CA-18644,2005/04/02
760,Jennifer Johnston,female,38,Adamville-DE-66898,2007/03/09
762,Tina Myers,female,29,Brianastad-VT-44828,2021/05/15
767,Angela Simpson,female,39,South Lorimouth-DC-35920,2016/07/11
769,Andrea Jones,female,21,South David-MO-98206,2003/10/17
771,Samuel Porter,male,41,Rachelborough-IN-39761,2006/05/08
772,Aaron Acevedo,male,31,Harrisfort-AR-95934,2016/12/21
774,Mr. Ryan Mitchell,male,54,Youngburgh-KS-27835,2017/02/20

Question 1.5.2

In [89]:
!sort -k1 -n users_sample.csv> users_sample.csv

Question 1.5.3

In [ ]:
! cat users_sample.csv | tail -10

1137,Theresa Brown,female,45,West Kimberly-CT-26809,2010/11/29
1937,Joseph Taylor,male,33,Chambersland-MO-45625,2009/01/20
2037,Brandon Edwards,male,18,Bradleyview-IN-89331,2013/08/08
1330,Karen Chung,female,24,South Tammyborough-KY-30823,2012/10/29
1007,Eric Jackson,male,49,New Elizabeth-OK-81325,2016/02/22
1167,Heidi Doyle,female,38,Smithburgh-ID-40975,2020/02/26
1829,Phillip Freeman,male,60,Lake Jessica-MN-87745,2004/01/06
731,Briana Riley,female,73,New Ethanmouth-TX-03903,2006/04/08
1287,Michelle Reyes,female,48,Lake Jerrybury-ND-84051,2014/06/30
1396,Lori Donaldson,female,30,Andrewside-VA-45614,2014/08/13

Question 2.1

In [81]:
import pandas as pd

In [82]:
df = pd.read_csv("users_v.csv")
print(df)

      user_id                 name  gender  age                     address  \
0           1         Anthony Wolf    male   73    New Rachelburgh-VA-49583
1           2      James Armstrong    male   56  North Jillianfort-UT-86454
2           3            Cody Shaw    male   75         North Anne-SC-53799
3           4      Sierra Hamilton  female   76     New Angelafurt-ME-46190
4           5          Chase Davis    male   31    South Bethmouth-WI-18562
...       ...                  ...     ...  ...                         ...
2352     2353      Brittney Graham  female   40          Brownland-CO-71229
2353     2354      Allison Schmidt  female   43         Port Logan-MD-38588
2354     2355  Christopher Johnson    male   68    North Justinton-VA-32798
2355     2356           Mark Brown    male   67     New Kayleefurt-MA-82581
2356     2357      Steven Robinson    male   45          Mistytown-HI-31737

     date_joined
0     2019/03/13
1     2020/11/06
2     2004/05/29
3     2005/08/26
4     2018/04/30
...          ...
2352  2005/07/10
2353  2008/11/30
2354  2006/08/01
2355  2013/11/16
2356  2015/03/21

[2357 rows x 6 columns]

Question 2.2

In [83]:
df.head(10)

,user_id,name,gender,age,address,date_joined
0,1,Anthony Wolf,male,73,New Rachelburgh-VA-49583,2019/03/13
1,2,James Armstrong,male,56,North Jillianfort-UT-86454,2020/11/06
2,3,Cody Shaw,male,75,North Anne-SC-53799,2004/05/29
3,4,Sierra Hamilton,female,76,New Angelafurt-ME-46190,2005/08/26
4,5,Chase Davis,male,31,South Bethmouth-WI-18562,2018/04/30
5,6,Sierra Andrews,female,21,Ryanville-MI-69690,2007/05/25
6,7,Ann Stone,female,41,Smithmouth-SD-17340,2005/01/05
7,8,Karen Santos,female,34,Mariaville-AK-29888,2003/12/12
8,9,Ronald Meyer,male,41,North Cherylhaven-NJ-04197,2015/11/14
9,10,Steven Rivera,male,43,Wayneside-VT-29040,2003/05/15

Question 2.3

In [84]:
print(min(df.age), max(df.age))

18 80

Question 2.4

In [85]:
import numpy as np

In [86]:
df['age'].describe()

count    2357.000000
mean       49.054731
std        18.206348
min        18.000000
25%        33.000000
50%        49.000000
75%        65.000000
max        80.000000
Name: age, dtype: float64

Question 2.5.1

In [79]:
df.loc[df['name'].str.split().str.len() == 2, 'surname'] = df['name'].str.split().str[-1]

Question 5.2.2

In [87]:
df.tail(10)

,user_id,name,gender,age,address,date_joined
2347,2348,Victoria Edwards,female,68,Lake Jamesberg-NY-88824,2001/09/03
2348,2349,Chris Ellis,male,46,Port Richardside-NY-77994,2011/03/18
2349,2350,Kimberly Smith,female,19,East Anthony-GA-00646,2021/06/20
2350,2351,William Nelson,male,67,Lake Parkerside-MN-06905,2005/12/21
2351,2352,Nancy Clark,female,80,Jamesshire-AK-88437,2001/12/12
2352,2353,Brittney Graham,female,40,Brownland-CO-71229,2005/07/10
2353,2354,Allison Schmidt,female,43,Port Logan-MD-38588,2008/11/30
2354,2355,Christopher Johnson,male,68,North Justinton-VA-32798,2006/08/01
2355,2356,Mark Brown,male,67,New Kayleefurt-MA-82581,2013/11/16
2356,2357,Steven Robinson,male,45,Mistytown-HI-31737,2015/03/21

Question 2.6.1

In [90]:
df['date_joined'] = pd.to_datetime(df.date_joined)

TypeError: ignored